/* PÁGINA SOBRE */
.pg-sobre{

}
	.pg-sobre .secao-destaque{
		position: relative;
	}
		.pg-sobre .secao-destaque .destaque{
			padding: 150px 0 303px;
			background-image: url(../img/banner.png);
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;
			position: relative;
		}
		.pg-sobre .secao-destaque .destaque::before{
			content: '';
			position: absolute;
			display: block;
			bottom: 0;
			left: 50%;
			width: 100%;
			height: 100%;
			background: linear-gradient(0deg, var(--azul-escuro), transparent);
			-webkit-transform: translateX(-50%);
			-moz-transform: translateX(-50%);
			-ms-transform: translateX(-50%);
			-o-transform: translateX(-50%);
			transform: translateX(-50%);
		}
			.pg-sobre .secao-destaque .destaque .titulo{
				font-size: 75px;
				color: #fff;
				position: relative;
			}
		.pg-sobre .secao-destaque .destaque-menor{
			position: absolute;
			bottom: -218px;
			left: 50%;
			width: 100%;
			-webkit-transform: translateX(-50%);
			-moz-transform: translateX(-50%);
			-ms-transform: translateX(-50%);
			-o-transform: translateX(-50%);
			transform: translateX(-50%);
		}
		.pg-sobre .secao-destaque .item{
			background-color: #fff;
			border-radius: 5px;
			display: none;
			max-height: 351px;
		}
		.pg-sobre .secao-destaque .item.active-item{
			display: block;
		}
			.pg-sobre .secao-destaque .item .col-sm-5, .pg-sobre .secao-destaque .item .col-sm-4, .pg-sobre .secao-destaque .item .col-sm-6, .pg-sobre .secao-destaque .item .col-sm-2, .pg-sobre .secao-destaque .item .col-sm-3, .pg-sobre .secao-destaque .item .col-md-5, .pg-sobre .secao-destaque .item .col-md-4, .pg-sobre .secao-destaque .item .col-md-6, .pg-sobre .secao-destaque .item .col-md-2, .pg-sobre .secao-destaque .item .col-md-3{
				padding: 0;
			}
			.pg-sobre .secao-destaque .destaque-menor ul, .pg-sobre .secao-destaque .destaque-menor .topico-conteudo{
				padding: 69px 0 0;
			}
			.pg-sobre .secao-destaque .destaque-menor ul{
				padding-left: 75px;
			}
				.pg-sobre .secao-destaque .destaque-menor ul li{
					margin: 0 0 10px;
					padding: 10px 26px 10px 50px;
					position: relative;
					line-height: 14px;
					cursor: pointer;
					-webkit-transition: ease-in-out .05s;
					-moz-transition: ease-in-out .05s;
					-ms-transition: ease-in-out .05s;
					-o-transition: ease-in-out .05s;
					transition: ease-in-out .05s;
					display: inline-block;
					font-size: 13px;
				}
				.pg-sobre .secao-destaque .destaque-menor ul li.button-padrao{
					text-transform: capitalize;
					font-weight: 300;
				}
				.pg-sobre .secao-destaque .destaque-menor ul li:hover{
					background-color: var(--azul-principal);
					color: #fff;
					border-radius: 25px;
					text-decoration: none;
					display: inline-block;
				}
				.pg-sobre .secao-destaque .destaque-menor ul li::before{
					content: '';
					position: absolute;
					display: block;
					top: 50%;
					left: 21px;
					width: 15px;
					height: 15px;
					background-repeat: no-repeat;
					background-size: cover;
					background-position: center;
					-webkit-transform: translateY(-50%);
					-moz-transform: translateY(-50%);
					-ms-transform: translateY(-50%);
					-o-transform: translateY(-50%);
					transform: translateY(-50%);
				}
				.pg-sobre .secao-destaque .destaque-menor ul li[data-id="0"]::before{
					background-image: url(../img/icon_missao_inactive.svg);
					height: 18px;
				}
				.pg-sobre .secao-destaque .destaque-menor ul li[data-id="1"]::before{
					background-image: url(../img/icon_visao_inactive.svg);
					width: 19px;
				}
				.pg-sobre .secao-destaque .destaque-menor ul li[data-id="2"]::before{
					background-image: url(../img/icon_valores_inactive.svg);
					height: 22px;
				}
				.pg-sobre .secao-destaque .destaque-menor ul li[data-id="0"]:hover::before{
					background-image: url(../img/icon_missao.svg);
				}
				.pg-sobre .secao-destaque .destaque-menor ul li[data-id="1"]:hover::before{
					background-image: url(../img/icon_visao.svg);
				}
				.pg-sobre .secao-destaque .destaque-menor ul li[data-id="2"]:hover::before{
					background-image: url(../img/icon_valores.svg);
				}
				.pg-sobre .secao-destaque .destaque-menor ul li.button-padrao[data-id="0"]::before{
					background-image: url(../img/icon_missao.svg);
				}
				.pg-sobre .secao-destaque .destaque-menor ul li.button-padrao[data-id="1"]::before{
					background-image: url(../img/icon_visao.svg);
				}
				.pg-sobre .secao-destaque .destaque-menor ul li.button-padrao[data-id="2"]::before{
					background-image: url(../img/icon_valores.svg);
				}
			.pg-sobre .secao-destaque .destaque-menor .topico-conteudo{
				padding-right: 68px;
				/*padding-bottom: 62px;*/
			}
				.pg-sobre .secao-destaque .destaque-menor .topico-conteudo .topico{
					color: var(--azul-principal);
					text-transform: uppercase;
					font-size: 14px;
					font-family: var(--kanit);
				}
				.pg-sobre .secao-destaque .destaque-menor .topico-conteudo .titulo{
					margin: 5px 0 24px;
				}
				.pg-sobre .secao-destaque .destaque-menor .topico-conteudo p{

				}
				.pg-sobre .secao-destaque .destaque-menor .topico-conteudo ul{
					padding: 0;
					margin: 5px 0 0;
				}
					.pg-sobre .secao-destaque .destaque-menor .topico-conteudo ul li{
						margin: 0;
						padding: 0;
						padding-left: 30px;
						display: list-item;
						cursor: initial;
						font-family: var(--kanit);
						font-size: 28px;
						font-weight: 500;
						line-height: 38px;
						position: relative;
					}
					.pg-sobre .secao-destaque .destaque-menor .topico-conteudo ul li:hover{
						background: none;
						color: #000;
						border-radius: 0;
						text-decoration: none;
					}
					.pg-sobre .secao-destaque .destaque-menor .topico-conteudo ul li::before{
						content: '';
						display: block;
						position: absolute;
						top: 50%;
						left: 0;
						width: 6px;
						height: 6px;
						background-image: url(../img/circular-shape-silhouette.png);
						background-size: cover;
						background-position: center;
						background-repeat: no-repeat;
						-webkit-transform: translateY(-50%);
						-moz-transform: translateY(-50%);
						-ms-transform: translateY(-50%);
						-o-transform: translateY(-50%);
						transform: translateY(-50%);
					}
			.pg-sobre .secao-destaque .destaque-menor figure{
				max-width: 327px;
				margin: 0 0 0 auto;
			}
				.pg-sobre .secao-destaque .destaque-menor figure img{
					width: 100%;
				}
	.pg-sobre .secao-servicos{
		background-color: var(--cinza-claro);
		padding: 350px 0 0;
	}
		.pg-sobre .secao-servicos .conteudo-secao{
			position: relative;
		}
			.pg-sobre .secao-servicos .conteudo-secao .titulo{
				font-size: 80px;
				padding-right: 600px;
				line-height: 72px;
			}
			.pg-sobre .secao-servicos .conteudo-secao p{
				padding-right: 980px;
				color: var(--cinza-texto);
				font-family: var(--roboto);
				font-size: 13px;
				margin: 44px 0 54px;
			}
			.pg-sobre .secao-servicos .conteudo-secao ul{
				display: inline-block;
				max-width: 464px;
			}
				.pg-sobre .secao-servicos .conteudo-secao ul li{
					font-size: 13px;
					font-family: var(--roboto);
					font-weight: 500;
					margin: 0 0 18px;
					display: inline-block;
					max-width: 50%;
					width: 100%;
					position: relative;
					padding-left: 40px;
				}
				.pg-sobre .secao-servicos .conteudo-secao ul li::before{
					content: '';
					position: absolute;
					display: block;
					top: 50%;
					left: 0;
					width: 25px;
					height: 21px;
					background: url(../img/icon_playground@1,5x.svg);
					background-repeat: no-repeat;
					background-size: cover;
					background-position: center;
					-webkit-transform: translateY(-50%);
					-moz-transform: translateY(-50%);
					-ms-transform: translateY(-50%);
					-o-transform: translateY(-50%);
					transform: translateY(-50%);
				}
			.pg-sobre .secao-servicos .conteudo-secao video{
				display: inline-block;
				width: 100%;
				max-width: 814px;
				min-height: 438px;
				position: absolute;
				bottom: 27px;
				right: 0;
				border-radius: 5px;
			}
	.pg-sobre .secao-timeline{
		background-color: var(--cinza-claro);
		padding: 102px 0 100px;
	}
		.pg-sobre .secao-timeline .conteudo-timeline{
			position: relative;
		}
			.pg-sobre .secao-timeline .conteudo-timeline .titulo{
				font-size: 70px;
			}
			.pg-sobre .secao-timeline .conteudo-timeline .timeline{
				text-align: center;
				margin: 72px 0 56px;
				position: relative;
			}
			.pg-sobre .secao-timeline .conteudo-timeline .timeline::before{
				content: '';
				position: absolute;
				top: 50%;
				left: 0;
				width: 100%;
				height: 1px;
				background-color: var(--cinza-escuro);
				-webkit-transform: translateY(-50%);
				-moz-transform: translateY(-50%);
				-ms-transform: translateY(-50%);
				-o-transform: translateY(-50%);
				transform: translateY(-50%);
			}
				.pg-sobre .secao-timeline .conteudo-timeline .timeline li{
					display: inline-block;
					width: 100%;
					max-width: 14.2%;
					position: relative;
					z-index: 5;
					min-height: 55px;
					line-height: 55px;
				}
					.pg-sobre .secao-timeline .conteudo-timeline .timeline li p{
						display: inline-block;
						font-family: var(--kanit);
						border-radius: 100%;
						color: var(--cinza-texto);
						width: 35px;
						height: 35px;
						background-color: var(--cinza-escuro);
						line-height: 36px;
						font-size: 12px;
						margin: 0;
						cursor: pointer;
						-webkit-transition: ease-in-out .05s;
						-moz-transition: ease-in-out .05s;
						-ms-transition: ease-in-out .05s;
						-o-transition: ease-in-out .05s;
						transition: ease-in-out .05s;
					}
					.pg-sobre .secao-timeline .conteudo-timeline .timeline li p.active-time{
						background-color: var(--azul-principal);
						width: 55px;
						height: 55px;
						line-height: 55px;
						color: #fff;
						font-size: 15px;
					}
					.pg-sobre .secao-timeline .conteudo-timeline .timeline li p:hover{
						background-color: var(--azul-principal);
						width: 55px;
						height: 55px;
						line-height: 55px;
						color: #fff;
						font-size: 15px;
					}
			.pg-sobre .secao-timeline .conteudo-timeline .customNavigation{

			}
				.pg-sobre .secao-timeline .conteudo-timeline .customNavigation .button{
					cursor: pointer;
				}
				.pg-sobre .secao-timeline .conteudo-timeline .customNavigation .button.prev{

				}
				.pg-sobre .secao-timeline .conteudo-timeline .customNavigation .button.next{

				}
			.pg-sobre .secao-timeline .conteudo-timeline #carrossel-timeline{
				position: unset;
			}
				.pg-sobre .secao-timeline .conteudo-timeline #carrossel-timeline li{
					background-color: #fff;
					max-width: 772px;
					margin: 0;
					border-radius: 5px;
					outline: none;
				}
				.pg-sobre .secao-timeline .conteudo-timeline #carrossel-timeline li figure, .pg-sobre .secao-timeline .conteudo-timeline #carrossel-timeline li article{
					display: inline-block;
					width: 100%;
					vertical-align: middle;
				}
					.pg-sobre .secao-timeline .conteudo-timeline #carrossel-timeline li figure{
						max-width: 27.1%;
						margin: 0;
					}
						.pg-sobre .secao-timeline .conteudo-timeline #carrossel-timeline li figure img{
							width: 100%;
						}
					.pg-sobre .secao-timeline .conteudo-timeline #carrossel-timeline li article{
						max-width: 72.2%;
						padding: 50px 68px 50px 60px;
					}
						.pg-sobre .secao-timeline .conteudo-timeline #carrossel-timeline li article .data{
							font-family: var(--kanit);
							color: var(--azul-principal);
						}
						.pg-sobre .secao-timeline .conteudo-timeline #carrossel-timeline li article .titulo{
							font-size: 40px;
							line-height: 35px;
							margin: 9px 0 29px;
						}
						.pg-sobre .secao-timeline .conteudo-timeline #carrossel-timeline li article p{
							margin: 0;
							padding-right: 60px;
						}
				.pg-sobre .secao-timeline .conteudo-timeline #carrossel-timeline .owl-nav{
					position: absolute;
					top: 31px;
					right: 100px;
					margin: 0;
				}
					.pg-sobre .secao-timeline .conteudo-timeline #carrossel-timeline .owl-nav .owl-prev, .pg-sobre .secao-timeline .conteudo-timeline #carrossel-timeline .owl-nav .owl-next{
						width: 30px;
						height: 30px;
						margin: 0;
						background-repeat: no-repeat;
						background-size: cover;
						background-position: center;
						outline: none;
					}
					.pg-sobre .secao-timeline .conteudo-timeline #carrossel-timeline .owl-nav .owl-prev:hover, .pg-sobre .secao-timeline .conteudo-timeline #carrossel-timeline .owl-nav .owl-next:hover{
						background-color: transparent;
					}
						.pg-sobre .secao-timeline .conteudo-timeline #carrossel-timeline .owl-nav .owl-prev span, .pg-sobre .secao-timeline .conteudo-timeline #carrossel-timeline .owl-nav .owl-next span{
							display: none;
						}
					.pg-sobre .secao-timeline .conteudo-timeline #carrossel-timeline .owl-nav .owl-prev{
						background-image: url('../img/arrow-left (14)@1,5x.svg');
						margin-right: 49px;
					}
					.pg-sobre .secao-timeline .conteudo-timeline #carrossel-timeline .owl-nav .owl-next{
						background-image: url('../img/arrow-right (68)@1,5x.svg');
					}
						

/* MEDIA QUERY */
@media(max-width: 1200px){
	.pg-sobre .secao-destaque .destaque-menor ul, .pg-sobre .secao-destaque .destaque-menor .topico-conteudo {
		padding: 49px 0 0;
	}
	.pg-sobre .secao-destaque .destaque-menor ul {
		padding-left: 55px;
	}
	.pg-sobre .secao-destaque .destaque-menor .topico-conteudo {
		padding-right: 35px;
	}
	.pg-sobre .secao-servicos .conteudo-secao p {
		padding-right: 730px;
	}
	.pg-sobre .secao-servicos .conteudo-secao video {
		max-width: 604px;
		min-height: 358px;
		bottom: 67px;
	}
	.pg-sobre .secao-servicos .conteudo-secao .titulo {
		padding-right: 230px;
	}
	.pg-sobre .secao-timeline .conteudo-timeline #carrossel-timeline li figure {
		max-width: 30.2%;
	}
	.pg-sobre .secao-timeline .conteudo-timeline #carrossel-timeline li article {
		max-width: 67.7%;
		padding: 20px 18px 20px 20px;
	}
	.pg-sobre .secao-timeline .conteudo-timeline #carrossel-timeline li article .titulo {
		font-size: 30px;
		margin: 9px 0 19px;
	}
	.pg-sobre .secao-timeline .conteudo-timeline #carrossel-timeline li article p {
		padding-right: 20px;
	}
}

@media(max-width: 991px){
	.pg-sobre .secao-destaque .destaque-menor ul, .pg-sobre .secao-destaque .destaque-menor .topico-conteudo {
		padding: 24px 0 0;
	}
	.pg-sobre .secao-destaque .destaque-menor ul {
		padding-left: 30px;
	}
	.pg-sobre .secao-destaque .destaque-menor .topico-conteudo .titulo {
		margin: 5px 0 20px;
		font-size: 30px;
	}
	.pg-sobre .secao-destaque .destaque-menor .topico-conteudo {
		padding-right: 10px;
	}
	.pg-sobre .secao-servicos .conteudo-secao video {
		max-width: 504px;
		min-height: 298px;
		bottom: 117px;
	}
	.pg-sobre .secao-servicos .conteudo-secao p {
		padding-right: 570px;
	}
	.pg-sobre .secao-timeline .conteudo-timeline #carrossel-timeline li article .titulo {
		line-height: 28px;
		font-size: 25px;
	}
	.pg-sobre .secao-timeline .conteudo-timeline #carrossel-timeline li article {
		max-width: 61%;
		padding: 10px 5px 10px 14px;
	}
	.pg-sobre .secao-timeline .conteudo-timeline #carrossel-timeline li figure {
		max-width: 37.6%;
	}
}

@media(max-width: 880px){
	.pg-sobre .secao-servicos .conteudo-secao .titulo {
		padding-right: 0;
	}
	.pg-sobre .secao-servicos .conteudo-secao p {
		padding-right: 490px;
	}
	.pg-sobre .secao-servicos .conteudo-secao video {
		max-width: 424px;
		min-height: 258px;
		bottom: 147px;
	}
}

@media(max-width: 768px){
	.pg-sobre .secao-servicos .conteudo-secao ul {
		display: block;
		max-width: 464px;
		margin: 0 auto;
	}
	.pg-sobre .secao-servicos .conteudo-secao video {
		max-width: 100%;
		min-height: 428px;
		bottom: 0;
		position: initial;
	}
	.pg-sobre .secao-servicos .conteudo-secao p {
		padding-right: 0;
	}
	.pg-sobre .secao-servicos .conteudo-secao .titulo {
		font-size: 65px;
		line-height: 57px;
	}
	.pg-sobre .secao-destaque .item.active-item .col-md-4{
		display: none;
	}
	.pg-sobre .secao-destaque .item{
		min-height: 285px;
	}
	.pg-sobre .secao-destaque .destaque-menor {
		bottom: -168px;
	}
	.pg-sobre .secao-destaque .destaque {
		padding: 70px 0 160px;
	}
	.pg-sobre .secao-destaque .destaque-menor .topico-conteudo ul li {
		font-size: 26px;
		line-height: 34px;
	}
	.pg-sobre .secao-servicos {
		padding: 220px 0 0;
	}
	.pg-sobre .secao-timeline .conteudo-timeline #carrossel-timeline li article {
		max-width: 100%;
	}
	.pg-sobre .secao-timeline .conteudo-timeline #carrossel-timeline li figure {
		display: none;
	}


}

@media(max-width: 576px){
	.pg-sobre .secao-destaque .destaque-menor ul, .pg-sobre .secao-destaque .destaque-menor .topico-conteudo {
		padding: 16px 0 0;
	}
	.pg-sobre .secao-destaque .destaque-menor ul {
		padding-left: 0;
		text-align: center;
	}
	.pg-sobre .secao-destaque .destaque .titulo {
		font-size: 50px;
	}
	.pg-sobre .secao-destaque .destaque-menor .topico-conteudo ul li {
		font-size: 20px;
		line-height: 28px;
	}
	.pg-sobre .secao-destaque .destaque-menor .topico-conteudo ul {
		padding: 0;
		margin: 5px 0 0;
		text-align: left;
	}
	.pg-sobre .secao-destaque .destaque-menor .topico-conteudo {
		padding-right: 0;
	}
	.pg-sobre .secao-destaque .destaque-menor .topico-conteudo ul li::before {
		width: 5px;
		height: 5px;
	}
	.pg-sobre .secao-servicos .conteudo-secao video {
		min-height: 328px;
	}
	.pg-sobre .secao-servicos .conteudo-secao p {
		margin: 20px 0 30px;
	}
	.pg-sobre .secao-servicos .conteudo-secao .titulo {
		font-size: 45px;
		line-height: 41px;
	}
	.pg-sobre .secao-timeline .conteudo-timeline #carrossel-timeline .owl-nav {
		top: 25px;
		right: 5px;
	}
	.pg-sobre .secao-timeline .conteudo-timeline #carrossel-timeline .owl-nav .owl-prev {
		margin-right: 39px;
	}
	.pg-sobre .secao-timeline .conteudo-timeline #carrossel-timeline .owl-nav .owl-prev, .pg-sobre .secao-timeline .conteudo-timeline #carrossel-timeline .owl-nav .owl-next {
		width: 20px;
		height: 20px;
	}
	.pg-sobre .secao-timeline .conteudo-timeline .titulo{
		font-size: 50px;
	}
}

@media(max-width: 445px){
	.pg-sobre .secao-destaque .item {
		min-height: 317px;
	}
	.pg-sobre .secao-destaque .destaque-menor {
		bottom: -198px;
	}
	.pg-sobre .secao-servicos {
		padding: 310px 0 0;
	}
}

@media(max-width: 425px){
	.pg-sobre .secao-destaque .destaque-menor {
		bottom: -268px;
	}
	.pg-sobre .secao-destaque .item {
		min-height: 390px;
	}
	.pg-sobre .secao-timeline .conteudo-timeline .timeline li p.active-time {
		width: 46px;
		height: 45px;
		line-height: 46px;
		font-size: 13px;
	}
	.pg-sobre .secao-timeline .conteudo-timeline .timeline li p {
		width: 33px;
		height: 33px;
		line-height: 34px;
		font-size: 10px;
	}
	.pg-sobre .secao-timeline .conteudo-timeline .timeline li p:hover{
		width: 46px;
		height: 45px;
		line-height: 46px;
		font-size: 13px;
	}
}

@media(max-width: 380px){
	.pg-sobre .secao-servicos .conteudo-secao .titulo {
		font-size: 35px;
		line-height: 28px;
	}
	.pg-sobre .secao-servicos .conteudo-secao video {
		min-height: 240px;
	}
	.pg-sobre .secao-servicos .conteudo-secao ul li::before {
		width: 21px;
		height: 17px;
	}
	.pg-sobre .secao-servicos .conteudo-secao ul li {
		padding-left: 28px;
	}
	.pg-sobre .secao-timeline .conteudo-timeline #carrossel-timeline .owl-nav {
		top: 90px;
	}
}

@media(max-width: 320px){}